:root {
  /* from https://milligram.github.io/ */
  --black: #606c76;
  --white: white;
  /* from wikipedia's table at the bottom of articles */
  --paleYellow: #ffebc3;
  --brightYellow: #ffd98c;
  --checkerWidth: 2rem;
}
